#login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

#site-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3vh;
}

#form-wrapper {
  //   border: 3px solid #f1f1f1;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5%;
}
/*assign full width inputs*/

input[type="text"],
input[type="password"] {
  font-size: 1rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*set a style for the buttons*/

button {
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  &:disabled {
    background-color: #4caf50d4;
  }
}
/* set a hover effect for the button*/

button:hover {
  opacity: 0.8;
}
/*set extra style for the cancel button*/

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/*centre the display image inside the container*/

.imgcontainer {
  text-align: center;
}
/*set image properties*/

img.avatar {
  width: 100%;
}
/*set padding to the container*/

.container {
  width: 50%;
  margin: auto;

  label {
    font-weight: 400;
  }
}
/*set the forgot password text*/

span.psw {
  float: right;
  padding-top: 16px;
}
/*set styles for span and cancel button on small screens*/

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
