.header-wrapper {
  height: 9vh;
  padding: 0 1rem;
  // border-bottom: 1px solid #f0f0f0;
  box-shadow: 0px 0px 3px #888888;
  font-weight: 400;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;

  div#logo {
    width: 8rem;
    height: 8vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
  }

  div#site-name {
    // float: left;
    font-size: 1.5rem;
    // margin-top: 3.5vh;
    margin-left: 1rem;
    flex-grow: 1;
  }

  div#name-wrapper {
    // float: right;
    // margin-top: 2vh;
    margin-right: 1.5rem;

    span#intials {
      display: inline-block;
      padding: 16px;
      font-size: 1.2rem;
      font-weight: 300;
      background-color: #4caf5078;
      border-radius: 50px;
    }

    span#name {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }

    span#role {
      margin-left: 0.5rem;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }

  div#signout-btn-wrapper {
    // float: right;
    // margin-top: 3vh;
    margin-right: 1rem;

    #signout-btn {
      padding: 0.75rem 0.5rem;
      border-radius: 9px;
      cursor: pointer;
      background-color: white;
      border: 1px solid rgb(216, 216, 216);

      &:hover {
        background-color: #4caf50cf;
        color: white;
        transition-delay: 50ms;
      }
    }
  }
}
