<div class="header-wrapper">
  <!-- <div id="logo" style="background-image: url(/assets/images/common/logo-small.jpg);">
    &nbsp;
  </div> -->
  <img class="logo" src="/assets/images/common/logo-small.jpg">

  <div id="site-name">SMART TRASH</div>

  <div id="name-wrapper" (click)="showStaffDetails(currentUser.staffId)">
    <span id="intials">{{initials}}</span>
    <span id="name">{{currentUser.name}}</span>
    <span id="role">({{currentUser.roleName}})</span>
  </div>

  <div id="signout-btn-wrapper">
    <button id="signout-btn" (click)="logout()">SIGNOUT</button>
  </div>
</div>