agm-map {
  height: 100%;
}

.collector-name span {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.btn-controls-wrapper {
  text-align: center;

  button {
    margin: 0 2px;
  }
}